    <!-- About Section -->
    <section id="juri" class="container content-section text-center">
        <div class="row">
        <div class="col-sm-3">
        <a href="https://jurisays.com/"><img src='./img/juri.gif' /></a></div>
            <div class="col-sm-8 col-sm-offset-1">
                <p class="top-juri"><a href="https://jurisays.com/" class="juri"><h2 style="text-align:left;margin-left:12px">JURI SAYS</h2></a></p>
                <p style="font-size: 20px" class="left-three">
                <a href="https://jurisays.com/" class="juri"><strong>JURI SAYS</strong></a> is an online platform that predicts future decisions of the European Court of Human Rights.
                JURI reads published documents from previous years and decisions of the cases and forecasts decisions the Court's pending cases.
                Every month he learns from his mistakes. In 2019 JURI forecasted the judgements with 72.6% accuracy.</p>

            </div>
        </div>
    </section>