    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
        <div class="col-sm-3">
        <a href="https://www.linkedin.com/in/masha-medvedeva/" target="_blank"><img src='./img/masha_medvedeva_profile_photo.jpeg' /></a></div>
            <div class="col-sm-8">
                <p class="top-about"><a href="https://www.linkedin.com/in/masha-medvedeva/" target="_blank"><h2 style="text-align:left;margin-left:12px">ABOUT ME</h2></a></p>
                <p style="font-size: 20px" class="left-three"> I am a legal tech engineer and researcher. My work lies within analysing and implementing
solutions for automation in legal domain, as well as analysing products that are currently
on the market. In the past much of my work lied within automatic detection of linguistic
patterns within legal data, with particular focus on predicting court decisions. A lot of
my experience is working with judgements of the European Court of Human Rights as
well as Dutch case law. My professional interests include but are not limited to improving
accessibility to justice, legal analytics, interpretability of NLP models, automation through
AI, and related areas. &nbsp&nbsp&nbsp <a style="color: blue" href="./CV/MashaMedvedeva_ShortCV.pdf" target="_new">Short CV</a> &nbsp&nbsp&nbsp <a style="color: blue" href="./CV/MashaMedvedeva_FullCV.pdf" target="_new">Full CV</a>
 </p>
            </div>
              </div>
    </section>