    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
        <div class="col-sm-3">
        <a href="https://www.linkedin.com/in/masha-medvedeva/" target="_blank"><img src='./img/masha_medvedeva_profile_photo.jpeg' /></a></div>
            <div class="col-sm-8">
                <p class="top-about"><a href="https://www.linkedin.com/in/masha-medvedeva/" target="_blank"><h2 style="text-align:left;margin-left:12px">ABOUT ME</h2></a></p>
                <p style="font-size: 20px" class="left-three"> I am an Assistant Professor in Legal Technologies at Leiden University, working at the intersection of AI, law, and society. With a technical background and eight years of experience working within the legal domain, I focus on the development, deployment, and critical evaluation of algorithmic systems used in legal and other high-stakes contexts. I take a systems-level perspective on technology, focusing on how AI tools shape - and are shaped by - the institutions and contexts in which they are used. I specialise in machine learning applications and examine their potential but also the risks and constraints embedded in their design and use.

More broadly, I work on responsible AI, risk assessment, and the ethics of automation. I collaborate with courts, researchers, and policy institutions to help ensure that the systems we build are not only technically sound but also aligned with broader societal values.

I’m always open to opportunities where I can apply this perspective to real-world challenges, whether in research, policy, or industry. &nbsp&nbsp&nbsp <a style="color: blue" href="./CV/Masha_Medvedeva_CV_2025.pdf" target="_new">View CV</a> 
<!--                     &nbsp&nbsp&nbsp <a style="color: blue" href="./CV/MashaMedvedeva_FullCV.pdf" target="_new">Full CV</a>
 -->
                </p>
            </div>
              </div>
    </section>
