    <!-- Download Section -->
    <section id="download" class="content-section text-left">
        <div class="download-section">
                <div class="download-section2">
                <div class="row">
            <div class="container bg-white">
                <div class="col-lg-8">
                    <a href="https://scholar.google.com/citations?user=Z5ktfYMAAAAJ&hl=en"><h3>Publications</h3></a></div>
                    <div class="row">
                    <div class="col-lg-8">
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a></div>
                </div>
            </div>
        </div>
        </div>
    </section>