  <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row"">
                    <div class="col-sm-6 col-sm-offset-1">
                      <!--  <h3 class="brand-heading">{{ site.title }}</h3>-->
                       <!-- <p class="intro-text">{{ site.description }}-->
                       <div class="bottom-top">
                       <p class="bottom-three">
                        <a href="mailto:medvmr@gmail.com" class="btn btn-mail btn-lg" target="_blank"><i class="fas fa-envelope-open-text"></i><span class="network-name"></span></a>
                        <a href="mailto:medvmr@gmail.com" class="btn btn-title btn-lg" target="_blank"><span class="network-name">medvmr@gmail.com</span></a> 
                        </p>
                       <p class="bottom-three">
                        <a href="https://twitter.com/JudgyLinguist" class="btn btn-twitter btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i><span class="network-name"></span></a>
                        <a href="https://twitter.com/JudgyLinguist" class="btn btn-title btn-lg" target="_blank"><span class="network-name">@JudgyLinguist</span></a> 
                        </p><p class="bottom-three">
                        <a href="https://www.linkedin.com/in/masha-medvedeva/" class="btn btn-linkedin btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i><span class="network-name"></span></a>
                        <a href="https://www.linkedin.com/in/masha-medvedeva/" class="btn btn-title btn-lg" target="_blank"><span class="network-name">masha-medvedeva</span></a>
                        </p><p class="bottom-three">
                        <a href="https://jurisays.com" class="btn btn-juri btn-lg" target="_blank"><i class="fas fa-robot"></i></i><span class="network-name"></span></a>
                        <a href="https://jurisays.com" class="btn btn-title btn-lg" target="_blank"><span class="network-name">JURI SAYS</span></a>
                       </p><p class="bottom-three">
                        <a href="https://publications.cohubicol.com/typology/" class="btn btn-typo btn-lg" target="_blank"><i class="fa-light fa-scale-balanced"></i></i><span class="network-name"></span></a>
                        <a href="https://publications.cohubicol.com/typology/" class="btn btn-title btn-lg" target="_blank"><span class="network-name">Typology of Legal Tech</span></a>
                       </p>
                        <!--<a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i</a>>-->
    </div>
                        </div>
                        <!--<div class="col-sm-2"> </div> -->
                        <div class="picture">
                     <div class="col-sm-5">
  						<img src="/img/intro-large.png">
  						<a href="https://jurisays.com/" class="btng" target="_blank"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>