    <!-- Download Section -->
    <section id="download" class="content-section text-left">
        <div class="download-section">
                <div class="download-section2">

            <div class="container bg-white">
                <div class="row">
                <div class="col-lg-5">
                    <h3><a href="https://scholar.google.com/citations?user=Z5ktfYMAAAAJ&hl=en"><i class="fas fa-graduation-cap"></i></i><span class="network-name"> PUBLICATIONS</h3></span></a></div>
                    </div>
                    <div class="row">
                    <div class="col-lg-11">
                    <h5 class="bottom-three">2020</h5>
                    
                    <div class="list-group">
                    <a href="http://ebooks.iospress.nl/volumearticle/56196" class="list-group-item list-group-item-action">
					<b>Medvedeva, M.</b>, Xu, X., Wieling, M., & Vols, M. JURI SAYS: An Automatic Judgement Prediction System for the European Court of Human Rights. In Proceedings of JURIX 2020, pages 277 - 280.
                    </a>
                    </div>
                    
                    <div class="list-group">
                    <a href="http://www.martijnwieling.nl/files/Wieling-ISSP2020.pdf" class="list-group-item list-group-item-action">
					Wieling, M., Tiede, M., Rebernik, T., de Jong, L., Braggaar, A., Bartelds, M., <b>Medvedeva, M.</b>, Heisterkamp, P., Freire Offrede, T., Sekeres, H., Pot, A., van der Ploeg, M., Volkers, K. & Mills, G. (2020) A novel paradigm to investigate phonetic convergence in interaction. In Proceedings of 12th International Seminar on Speech Production.
                    </a>
                    </div>

                    <div class="list-group">
                    <a href="https://arxiv.org/abs/2012.10301" class="list-group-item list-group-item-action">
					<b>Medvedeva, M.</b>, Wieling, M., & Vols, M. (2020). The Danger of Reverse-Engineering of Automated Judicial Decision-Making Systems. <b>arXiv preprint arXiv:2012.10301</b>.
                    </a>
                    </div>
                    
                    
                    <div class="list-group">
                    <a href="https://link.springer.com/article/10.1007/s10506-019-09255-y" class="list-group-item list-group-item-action">
                    <b>Medvedeva, M.</b>, Vols, M., & Wieling, M. (2020). <b>Using machine learning to predict decisions of the European Court of Human Rights</b>. Artificial Intelligence and Law, 28(2), 237-266.<br><i>The publication is a required reading in multiple masters courses across Europe.</i></a>
                    </div>
                    
                    
                    <h5 class="bottom-three">2019</h5>
                    <div class="list-group">
                    <a href="https://link.springer.com/article/10.1007/s10506-019-09255-y" class="list-group-item list-group-item-action">Haagsma, H., Kreutz, T., <b>Medvedeva, M.</b>, Walter, D., and Nissim, M. (2019). Overview of the Cross-Genre Gender Prediction Shared Task on Dutch at CLIN29. In Proceedings of the Shared Task on Cross-Genre Gender Prediction in Dutch at CLIN29 (GxG-CLIN29)</a>
                    </div>
                    
                    <div class="list-group">
                    <a href="https://www.rug.nl/research/portal/files/112108112/Wieling2019.pdf" class="list-group-item list-group-item-action">
					Wieling, M., Blankevoort, C., Hukker, V., Jacobi, J., de Jong, L., Keulen, S., <b>Medvedeva, M.</b>, van der Ploeg, M., Pot, A., Rebernik, T., Veenstra, P., and Noiray, A. (2019). The Influence of Alcohol on L1 vs. L2 Pronunciation. In Proceedings of ICPhS 2019.
                    </a>
                    </div>
                    <h5 class="bottom-three">2018</h5>
                    <div class="list-group">
                    <a href="http://martijnwieling.nl/files/Medvedeva-submitted.pdf" class="list-group-item list-group-item-action">
					<b>Medvedeva, M.</b>, Vols, M., and Wieling, M. (2018). Judicial Decisions of the European Court of Human Rights: Looking into the Crystall Ball. In Proceedings of the Conference on Empirical Legal Studies in Europe 2018.                  
                    </a></div>
                    
                    <div class="list-group">
                    <a href="https://link.springer.com/chapter/10.1007/978-3-319-98932-7_14" class="list-group-item list-group-item-action">
					Basile, A., Dwyer, G., <b>Medvedeva, M.</b>, Rawee, J., Haagsma, H., and Nissim, M. (2018). Simply the Best: Minimalist System Trumps Complex Models in Author Profiling. In International Conference of the Cross-Language Evaluation Forum for European Lan- guages, pages 143–156. Springer.  
					</a></div>
					
					
					 <div class="list-group">
                    <a href="https://www.aclweb.org/anthology/W18-3928.pdf" class="list-group-item list-group-item-action">
					Kroon, M., <b>Medvedeva, M.</b>, and Plank, B. (2018). When Simple N-gram Models Outperform Syntactic Approaches: Discriminating between Dutch and Flemish. In Proceedings of the Fifth Workshop on NLP for Similar Languages, Varieties and Dialects (VarDial 2018), pages 244–253.
					</a></div>
					
                    <h5 class="bottom-three">2017</h5>
                    <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action">
					Basile, A., Dwyer, G., <b>Medvedeva, M.</b>, Rawee, J., Haagsma, H., and Nissim, M. (2017a). Is There Life beyond N-grams? A Simple SVM-based Author Profiling System. In Working Notes of CLEF 2017-Conference and Labs of the Evaluation Forum. <b>PAN Shared Task Winner</b>.
					</a></div>
                    
                    <div class="list-group">
                    <a href="https://link.springer.com/chapter/10.1007/978-3-319-65813-1_21" class="list-group-item list-group-item-action">
					<b>Medvedeva, M.</b>, Haagsma, H., and Nissim, M. (2017). An Analysis of Cross-Genre and In-Genre Performance for Author Profiling in Social Media. In International Conference of the Cross-Language Evaluation Forum for European Languages, pages 211–223. Springer. Best Paper Award at CLEF 2017.
					</a></div>
					
					<div class="list-group">
                    <a href="http://ceur-ws.org/Vol-1866/paper_71.pdf" class="list-group-item list-group-item-action">
					Basile, A., Dwyer, G., <b>Medvedeva, M.</b>, Rawee, J., Haagsma, H., and Nissim, M. (2017b). N-gram: New Groningen Author-Profiling Model. In International Conference of the Cross-Language Evaluation Forum for European Languages, CEUR.
					</a></div>
					
					<div class="list-group">
                    <a href="https://www.aclweb.org/anthology/W17-1219.pdf" class="list-group-item list-group-item-action">
					<b>Medvedeva, M.</b>, Kroon, M., and Plank, B. (2017). When Sparse Traditional Models Out- perform Dense Neural Networks: the Curious Case of Discriminating between Similar Languages. In Proceedings of the Fourth Workshop on NLP for Similar Languages, Varieties and Dialects, pages 156–163. Association for Computational Linguistics.
					</a></div>
                                  
                    <h5 class="bottom-three">2016</h5>              
                    <div class="list-group">
                    <a href="http://www.let.rug.nl/haagsma/papers/pan2016.pdf" class="list-group-item list-group-item-action">
					Busger op Vollenbroek, M., Carlotto, T., Kreutz, T., <b>Medvedeva, M.</b>, Pool, C., Bjerva, J., Haagsma, H., and Nissim, M. (2016). GronUP: Groningen User Profiling: Notebook for PAN at CLEF 2016. In Balog, K., Cappellato, L., Ferro, N., and Macdonald, C., editors, Working Notes of CLEF 2016, CEUR, pages 846–857. Workshop Proceedings. PAN Shared Task Winner
					</a></div>  
					
					<div class="list-group">
                    <a href="https://www.semanticscholar.org/paper/Developing-Morphologically-Annotated-Corpora-for-of-Arkhangelskiy-Medvedeva/763a2b42a64358cb9e06f994e17b5fb549e0fc44?p2df" class="list-group-item list-group-item-action">
					Arkhangelshiy, T. and <b>Medvedeva, M.</b> (2016). Developing Morphologically Annotated Corpora for Minority Languages of Russia. In Proceedings of Corpus Linguistics Fest 2016, CEUR, pages 1–6
					</a></div>
					
					
                                    
                                    


                         </div>
            </div>
        </div>
        </div>
    </section>